@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: #e8e8e9;
  position: relative;
  overflow: hidden;
}

/* ..................................navbar..................................... */

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6f5cff;
  width: 100%;
  z-index: 999;
}

.nav-right {
  display: flex;
  gap: 2vw;
}

.navbar img {
  width: 12%;
}

.bg-image {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.menu {
  list-style: none;
  font-size: 1.1vw;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1000;
}

.menu-item,
.logo {
  cursor: pointer;
  z-index: 1000;
}

.login-btn {
  font-size: 0.8vw;
  font-weight: 700;
  padding: 0.9vw;
  outline: none;
  border: 2px solid #6f5cff;
  background: transparent;
  color: #6f5cff;
  border-radius: 5rem;
  cursor: pointer;
  z-index: 999;
  transition: 0.3s background ease;
}

.login-btn:hover {
  background: #6f5cff;
  color: #fff;
}

.menu-item:hover {
  color: #5546c7;
}

/* ..................................header..................................... */

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #e8e8e9;
  overflow: hidden;
}

.header-content {
  display: flex;
  width: 50%;
}

.header-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  font-size: 2.5vw;
  line-height: 1.15;
  font-weight: 400;
  width: 60%;
  color: #333333;
}

.header-content-left button {
  background: #5546c7;
  color: #e8e8e9;
  padding: 1.1vw;
  border: none;
  border-radius: 5rem;
  outline: none;
  font-size: 1vw;
  font-weight: 700;
  transition: 0.3s background ease;
  cursor: pointer;
}

.header-content-left button:hover {
  background: #6f5cff;
}

.header-content-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.oval {
  height: 26vw;
  border-radius: 20rem;
  width: 100%;
  background: #ff505a;
}

.oval::-webkit-scrollbar {
  display: none;
}

.header-content img {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
}

/* ........................................page2.................................... */

.page-2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #352c7e;
  overflow: hidden;
}

.page-2-content {
  background: transparent;
  color: #fff;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.6vw;
  font-weight: 300;
}

.page-2-content p {
  opacity: 1;
}

.page-2-content p {
  color: #3fb2ff;
}
.page-2-content p span {
  color: #fff;
}

/* ........................................page3..........................................*/

.page-3 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
}

.page-3-content {
  background: #5645da;
  position: absolute;
  width: 50%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30rem;
  color: #fff;
  z-index: 2;
}

.page-3-content-back {
  background: #5645da;
  position: absolute;
  width: 50%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30rem;
  color: #fff;
  z-index: 1;
}

.page-3-content .center {
  padding-top: 4vw;
  padding-right: 7.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.5vw;
  width: 100%;
  height: 100%;
  text-align: center;
}

.page-3-content h1 {
  font-size: 7vw;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1vw;
}

.page-3-content .center p {
  font-size: 3.4vw;
  color: #83e2b8;
  font-weight: 300;
  line-height: 0.3;
}

.page-3-content .center-in {
  position: relative;
}
.page-3-content .center-in::before {
  content: "30";
  position: absolute;
  left: -65%;
  top: 50%;
  transform: translateY(-20%);
  font-size: 11vw;
  color: #fff;
  font-weight: 300;
  line-height: 0.3;
}

.page-3-content .center > p {
  width: 60%;
  color: #fff;
  line-height: 1;
  font-size: 1.75vw;
  align-self: center;
  transform: translateX(20%);
  text-align: center;
}

/* .....................................page4................................. */

.page-4 {
  position: relative;
  min-height: 250vh;
  width: 100%;
  background: #5645da;
  position: relative;
  overflow: hidden;
}

.page-4-content {
  position: relative;
  padding: 10% 0 0 15%;
  color: #fff;
}

.page-4-content > h1 {
  font-size: 4.5vw;
  line-height: 1;
  font-weight: 300;
  color: #fff;
}
.vertical-aligned {
  padding: 0 3rem;
  border-left: 1px solid #3fb2ff;
}
.elem {
  position: relative;
  width: 40%;
  margin-top: 6vw;
  opacity: 0.4;
}

.elem:last-child {
  margin-bottom: 6vw;
}

.elem::before {
  position: absolute;
  left: -3.5rem;
  top: 3%;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #3fb2ff;
}
.vertical-aligned p:first-child {
  font-weight: 700;
}
.vertical-aligned p {
  font-size: 0.8vw;
  font-weight: 300;
  margin-top: 2rem;
}

.vertical-aligned h1 {
  font-size: 2.1vw;
  font-weight: 300;
  line-height: 1;
  margin-top: 2rem;
}

.dice-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30%;
  right: 15%;
  width: 25vw;
  height: 30vw;
  border-radius: 30rem;
  background: #c4d3f4;
  overflow: hidden;
}

.dice-box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* .......................................page5.................................... */

.page-5 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.page-5-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 60%;
  height: 60%;
  gap: 5rem;
}

.page5-content-left {
  width: 60%;
  flex: none;
}

.page5-content-right {
  width: 40%;
  flex: none;
}

.page5-content-left {
  display: flex;
}

.page5-l-left {
  width: 60%;
  height: 100%;
  flex: none;
}
.page5-l-right {
  width: 40%;
  height: 100%;
  flex: none;
}

.page5-l-left-top {
  margin-top: 1vw;
  background: #f9bf34;
  max-height: 25%;
  max-width: 50%;
  border-radius: 4rem;
  margin-left: 45%;
}

.page5-l-left-bottom {
  background: #83e2b8;
  margin-top: 1vw;
  max-height: 45%;
  max-width: 70%;
  border-radius: 4rem;
  margin-left: 25%;
  margin-bottom: 25%;
}

.page5-l-right-top {
  margin-top: 1vw;
  background: #3fb2ff;
  max-width: 100%;
  max-height: 60%;
  border-radius: 4rem;
}

.page5-l-right-bottom {
  margin-top: 1vw;
  background: #ff505a;
  max-height: 24%;
  max-width: 70%;
  border-radius: 4rem;
  margin-top: 3rem;
}

.page5-l-top {
  display: flex;
}
.page5-l-bottom {
  display: flex;
}
.page5-content-left img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page5-content-right h1 {
  font-size: 4.1vw;
  line-height: 1;
  font-weight: 300;
  margin-top: 2rem;
}

.page5-content-right p {
  margin-top: 2.5rem;
  font-size: 0.9vw;
  font-weight: 400;
  color: #7f7f7f;
  width: 90%;
}

.page5-content-right button {
  font-size: 0.9vw;
  font-weight: 700;
  margin-top: 1.5vw;
  padding: 1vw 1.25vw;
  background: transparent;
  color: #5645da;
  border: 1px solid #5645da;
  border-radius: 5rem;
  transition: 0.3s background ease;
  cursor: pointer;
}

.page5-content-right button:hover {
  background: #5645da;
  color: #fff;
}

/* ..................................page6................................ */

.page-6 {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page-6-content {
  position: relative;
  width: 55%;
  height: 55vh;
  border-radius: 5rem;
  background: #d8dfe5;
  overflow: hidden;
}

.left-side {
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 1;
  transition: 0.3s opacity ease;
}
.right-side {
  position: absolute;
  top: 30%;
  right: -30%;
  opacity: 0;
  transition: 0.3s opacity ease;
}
.page-6-content h1 {
  font-size: 1.5vw;
  font-weight: 400;
}

.page-6-content p {
  width: 30%;
  font-size: 0.9vw;
  font-weight: 300;
  color: #7f7f7f;
}

.book-btn {
  background: #5546c7;
  border: none;
  outline: none;
  border-radius: 5rem;
  font-size: 0.9vw;
  font-weight: 700;
  color: #fff;
  padding: 0.9vw;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: -1rem;
}
.book-btn:hover {
  background: #5645da;
}

.parent-img {
  width: 45%;
  position: absolute;
  left: 30%;
  bottom: 0;
  transition: 0.3s all ease;
}
.parent-img-2 {
  width: 28%;
  position: absolute;
  left: 40%;
  transition: 0.3s all ease;
  transform: translateX(140%);
  scale: 0.7;
  bottom: -12%;
  filter: blur(0.3rem);
}

.toggle-btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5%;
  left: 40%;
  width: 15vw;
  height: 6vh;
  border: 2px solid #5645da;
  border-radius: 5rem;
  font-size: 1vw;
  text-align: center;
  color: #5645da;
  cursor: pointer;
  z-index: 10;
}

.toggle-btn span {
  z-index: 5;
}

.toggle-btn span:first-child {
  margin-left: 10%;
  margin-right: 20%;
  color: #fff;
}

.toggle-btn span:last-child {
  margin-right: 20%;
}

.toggle-btn-in {
  position: absolute;
  padding: 1rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #5645da;
  border-radius: 5rem;
  transition: 0.3s transform ease;
}

/* ..............................page7................................. */

.page-7 {
  position: relative;
  min-height: 60vh;
  background: #fff;
  overflow: hidden;
}

.page-7-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-7-content h1 {
  font-size: 3.1vw;
  font-weight: 500;
}

.page-7-content p {
  margin-top: 1vw;
  font-size: 0.9vw;
  font-weight: 300;
  color: #7f7f7f;
  text-align: center;
}

.marquee {
  position: relative;
  padding: 1vw;
  margin-top: 5vw;
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5vw;
}

.marquee div {
  display: inline-block;
  width: 50%;
  margin-right: 7rem;
  animation: animate-marquee 10s linear infinite;
}

.marquee::-webkit-scrollbar {
  display: none;
}

.marquee img {
  display: inline-block;
  margin-right: 15rem;
  width: 4%;
}

@keyframes animate-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 7.3rem));
  }
}

/* ....................................page8...................................... */

.page-8 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #352c7e;
  color: #fff;
  overflow: hidden;
}

.page-8-content {
  padding-top: 10vw;
}

.page-8-content h1 {
  margin-bottom: 2vw;
  margin-left: 2vw;
  font-size: 3.6vw;
  font-weight: 400;
}

/* ........................................swiper..................................... */

.swiper {
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  gap: 6vw;
  align-items: center;
}

.swiper-slide .testimonial {
  width: 30vw;
  max-height: 45vh;
  border-radius: 5rem;
  padding: 3vw;
  background: #5546c7;
  flex-shrink: 0;
}

.testimonial p:first-child {
  font-size: 1vw;
  font-weight: 400;
  width: 70%;
}
.testimonial p:last-child {
  margin-top: 1.5rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.read-more-btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2.5vw;
  font-size: 0.9vw;
  font-weight: 700;
  color: #fff;
  padding: 1vw 1.5vw;
  cursor: pointer;
  margin-top: 2vw;
  margin-left: 2vw;
  transition: 0.3s background ease;
}

.read-more-btn:hover {
  background: #fff;
  color: #5546c7;
}

/* .................................................page9.................................. */

.page-9 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #1d1d1d;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.page-9-content {
  margin-top: 5vw;
  padding: 10rem;
  width: 60%;
  border-radius: 5rem;
  background: #5645da;
  color: #fff;
}

.page-9-content h1 {
  position: relative;
  font-size: 4.1vw;
  font-weight: 400;
  line-height: 1;
}

.page-9-content button {
  background: #ff505a;
  border: none;
  outline: none;
  border-radius: 5rem;
  font-size: 0.9vw;
  font-weight: 700;
  color: #fff;
  padding: 2rem 3rem;
  cursor: pointer;
  margin-top: 2.5vw;
  transition: 0.3s background ease;
}

.page-9-content button:hover {
  background: #f86b73;
}

footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}

footer h1:first-child {
  font-size: 0.9vw;
  font-weight: 700;
}

footer h1:not(:first-child) {
  cursor: pointer;
}

footer h1 {
  margin-top: 2rem;
  font-weight: 500;
}

.social-section {
  color: #fff;
  margin-left: 5vw;
}

.social-section h1 {
  font-size: 2rem;
  font-weight: 500;
}

.social-section input {
  font-size: 0.9vw;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 0.6rem 2rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  background: #343434;
  margin-top: 2rem;
}

.input {
  position: relative;
}
.right-arrow {
  position: absolute;
  right: 10%;
  top: 45%;
  font-size: 1.26vw;
  cursor: pointer;
}

.social-section .icons {
  margin-top: 2rem;
}

.social-section .icons i {
  font-size: 1.26vw;
  margin-right: 1.5rem;
}

.social-section p {
  font-size: 0.9vw;
  margin-top: 3rem;
  font-weight: 500;
}

/* .......................................media-queries...................................... */

@media (max-width: 600px) {
  /* ..................................navbar..................................... */

  .menu {
    display: none;
  }

  .navbar img {
    width: 45%;
  }

  .bg-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    pointer-events: none;
  }

  .login-btn {
    font-size: 4vw;
    padding: 5vw 6vw;
    outline: none;
    border: none;
    background: #5645da;
    color: #fff;
  }

  .login-btn:hover {
    background: #4b3cbd;
  }

  /* ..................................header..................................... */

  .header {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 85vh;
  }

  .header-content {
    margin-top: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    width: 100%;
    color: #333333;
  }

  .header-content-left p {
    line-height: 1.15;
    font-size: 5.5vw;
  }

  .header-content-left button {
    background: #5546c7;
    color: #e8e8e9;
    padding: 5vw 6vw;
    border: none;
    border-radius: 5rem;
    outline: none;
    font-size: 4vw;
    font-weight: 700;
    transition: 0.3s background ease;
    cursor: pointer;
  }

  .header-content-left button:hover {
    background: #6f5cff;
  }

  .header-content-right {
    position: relative;
    width: 100%;
  }

  .oval {
    position: relative;
    margin-top: 20vw;
    height: 30vh;
    border-radius: 20rem;
    width: 50%;
    background: #ff505a;
  }

  .header-content img {
    width: 51%;
  }

  /* ........................................page2.................................... */

  .page-2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #352c7e;
    overflow: hidden;
  }

  .page-2-content {
    background: transparent;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
  }

  .page-2-content p {
    opacity: 1;
  }

  .page-2-content p {
    font-size: 7vw;
    font-weight: 300;
    color: #3fb2ff;
    text-align: center;
  }
  .page-2-content p span {
    color: #fff;
  }

  /* .................................page3....................................*/
  /* 
.page-3 {
  position: relative;
  width: 100%;
  min-height: 70vh;
  background: #fff;
  overflow: hidden;
}


.page-3-content .center {
  padding-right: 7.5vw;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.page-3-content h1 {
  font-size: 20vw;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1vw;
}

.page-3-content .center p {
  font-size: 3.4vw;
  color: #83e2b8;
  font-weight: 300;
  line-height: 0.3;
} */

  .page-3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
  }

  .page-3-content {
    background: #5645da;
    position: absolute;
    width: 95%;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30rem;
    color: #fff;
    z-index: 2;
  }

  .page-3-content-back {
    background: #5645da;
    position: absolute;
    width: 95%;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30rem;
    color: #fff;
    z-index: 1;
  }

  .page-3-content .center {
    padding-top: 0;
    padding-right: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5vw;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .page-3-content h1 {
    font-size: 20vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1vw;
  }

  .page-3-content .center p {
    font-size: 10vw;
    color: #83e2b8;
    font-weight: 300;
    line-height: 0.3;
  }

  .page-3-content .center-in::before {
    content: "30";
    position: absolute;
    left: -62%;
    top: 48%;
    transform: translateY(-20%);
    font-size: 32vw;
    color: #fff;
    font-weight: 300;
    line-height: 0.3;
  }

  .page-3-content .center > p {
    margin-top: 2vw;
    width: 60%;
    color: #fff;
    line-height: 1;
    font-size: 4vw;
    align-self: center;
    transform: translateX(0);
    text-align: center;
  }

  /* .....................................page4................................. */

  .page-4 {
    position: relative;
    min-height: 200vh;
  }

  .page-4-content {
    padding: 145vw 8vw 50vw;
  }

  .page-4-content > h1 {
    font-size: 16vw;
    margin-bottom: 25vw;
  }
  .vertical-aligned {
    padding: 0 3rem;
    width: 100%;
  }
  .elem {
    width: 100%;
    margin-top: 10vw;
  }

  .elem:last-child {
    margin-bottom: 6vw;
  }

  .vertical-aligned p {
    font-size: 3vw;
    font-weight: 300;
  }

  .vertical-aligned h1 {
    font-size: 6vw;
    margin-top: 2rem;
  }

  .dice-box {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 50vh;
    border-radius: 30rem;
    background: #c4d3f4;
    overflow: hidden;
  }

  .dice-box img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* .......................................page5.................................... */

  .page-5-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .page5-content-left {
    width: 100%;
    margin-left: -20%;
    margin-top: 20%;
  }

  .page5-content-right {
    width: 100%;
  }

  .page5-l-left {
    width: 60%;
    height: 100%;
    flex: none;
  }
  .page5-l-right {
    width: 40%;
    height: 100%;
    flex: none;
  }

  .page5-l-left-bottom {
    margin-top: 3vw;
  }

  .page5-content-right {
    padding: 5vw;
  }

  .page5-content-right h1 {
    font-size: 15vw;
    font-weight: 300;
    margin-top: 2rem;
  }

  .page5-content-right p {
    margin-top: 2.5rem;
    font-size: 4vw;
    font-weight: 400;
    width: 100%;
  }

  .page5-content-right button {
    display: none;
  }

  /* ..................................page6................................ */

  .page-6 {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .page-6-content {
    position: relative;
    width: 90%;
    height: 90vh;
    border-radius: 5rem;
    background: #d8dfe5;
    overflow: hidden;
  }

  .left-side {
    position: absolute;
    top: 30%;
    left: 5%;
    opacity: 1;
    transition: 0.3s opacity ease;
  }
  .right-side {
    position: absolute;
    top: 30%;
    right: 5%;
    opacity: 0;
    transition: 0.3s opacity ease;
  }
  .page-6-content h1 {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    font-weight: 400;
  }

  .page-6-content p {
    margin: 0 auto;
    width: 100%;
    font-size: 4vw;
    font-weight: 300;
    width: 80%;
    color: #7f7f7f;
    margin-top: 2vw;
    text-align: center;
  }

  .book-btn {
    display: block;
    background: #5546c7;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    padding: 4vw 5vw;
    cursor: pointer;
    margin: 2vw auto;
  }

  .parent-img {
    width: 100%;
    position: absolute;
    left: 30%;
    bottom: 0;
    transition: 0.3s all ease;
    margin-left: -30%;
  }
  .parent-img-2 {
    display: inline-block;
    width: 60%;
    position: absolute;
    left: 40%;
    transition: 0.3s all ease;
    transform: translateX(140%);
    scale: 0.7;
    bottom: -12%;
    filter: blur(0.3rem);
    margin-left: -15%;
  }

  .toggle-btn {
    left: 30%;
    width: 40vw;
    height: 6vh;
    font-size: 2.7vw;
  }

  /* ..............................page7................................. */

  .page-7 {
    margin-top: 40vw;
    min-height: 40vh;
  }

  .page-7-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-7-content h1 {
    font-size: 8vw;
  }

  .page-7-content p {
    margin-top: 2vw;
    font-size: 4vw;
  }

  .marquee {
    position: relative;
    padding: 1vw;
    margin-top: 20vw;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5vw;
  }

  .marquee div {
    display: inline-block;
    width: 50%;
    margin-right: 5rem;
    animation: animate-marquee 5s linear infinite;
  }

  .marquee img {
    display: inline-block;
    margin-right: 2rem;
    width: 7%;
  }

  @keyframes animate-marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 5.3rem));
    }
  }

  /* ....................................page8...................................... */

  .page-8 {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background: #352c7e;
    color: #fff;
    overflow: hidden;
  }

  .page-8-content {
    padding-top: 10vw;
  }

  .page-8-content h1 {
    margin-bottom: 6vw;
    margin-left: 2vw;
    font-size: 14vw;
    font-weight: 400;
  }

  /* ........................................swiper..................................... */

  .swiper {
    width: 90%;
    height: 70%;
    margin: 30vw auto;
  }

  .swiper-slide {
    display: flex;
    gap: 6vw;
    align-items: center;
  }

  .swiper-slide .testimonial {
    width: 95%;
    height: 30vh;
    border-radius: 3rem;
    padding: 3vw;
    background: #5546c7;
    flex: none;
    margin-left: 4%;
  }

  .testimonial p:first-child {
    margin: 3vw auto;
    width: 90%;
    font-size: 4vw;
    font-weight: 400;
  }
  .testimonial p:last-child {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 3.2vw;
    font-weight: 600;
  }

  .read-more-btn {
    display: block;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5rem;
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
    padding: 4vw 5vw;
    cursor: pointer;
    margin-top: -18vw;
    margin-left: 10vw;
    transition: 0.3s background ease;
  }

  .read-more-btn:hover {
    background: #fff;
    color: #5546c7;
  }

  /* .................................................page9.................................. */

  .page-9 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #1d1d1d;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }

  .page-9-content {
    margin-top: 5vw;
    text-align: center;
    width: 90%;
    border-radius: 5rem;
    background: #5645da;
    color: #fff;
  }

  .page-9-content h1 {
    position: relative;
    font-size: 8vw;
    font-weight: 400;
    line-height: 1;
  }

  .page-9-content button {
    background: #ff505a;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-size: 3vw;
    font-weight: 700;
    color: #fff;
    padding: 4vw 5vw;
    cursor: pointer;
    margin-top: 4vw;
    transition: 0.3s background ease;
  }

  .page-9-content button:hover {
    background: #f86b73;
  }

  footer {
    padding-left: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
  }

  .footer-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .footer-left div {
    width: 40%;
    flex: none;
  }

  footer h1:first-child {
    font-size: 4vw;
    font-weight: 700;
  }

  footer h1:not(:first-child) {
    cursor: pointer;
  }

  footer h1 {
    margin-top: 2rem;
    font-weight: 500;
  }

  .social-section {
    text-align: center;
    width: 100%;
    color: #fff;
    margin-left: 0;
    margin-top: 4vw;
  }

  .social-section h1 {
    font-size: 4vw;
    font-weight: 500;
  }

  .social-section input {
    display: block;
    width: 90%;
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 0.6rem 2rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    background: #343434;
    margin-top: 2rem;
  }

  .input {
    position: relative;
  }
  .right-arrow {
    position: absolute;
    right: 13%;
    top: 5%;
    font-size: 7vw;
    cursor: pointer;
  }

  .social-section .icons {
    margin-top: 2rem;
  }

  .social-section .icons i {
    font-size: 7vw;
    margin-right: 1.5rem;
  }

  .social-section p {
    font-size: 4vw;
    margin: 3rem 0;
    font-weight: 500;
  }
}
